<div class="fluid-container">
    <div class="row">
        <div class="col-xl-12">

            <ul class="nav justify-content-left">
                <div class="nav-container">
                <li class="nav-item">
                    <div class="navbar-brand">News Scraper</div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="home-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="saved-link" href="/saved">Saved Articles</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" id="scrapeBtn" href="#">Scrape New Articles</a>
                </li>
                <li class="nav-item">
                    <a class="clearBtn btn btn-primary" href="/clear">Clear the Articles</a>
                </li>
                </div>
                    
            </ul>

            <div class="row">
                <div class="col-xl-12">
                    <div class="background-container">
                        <div class="container">
                            <p class="lines" id="line1">Scrape the New York Times!</p>
                            <p class="lines" id="line2">Save articles, add notes, and build your Saved List!</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12">
                    <div class="table-container">
            <table class="tables" id="scrapedTable" style="width:100%">
                <tr>
                    <th>Article Title</th>
                    <th>Summary</th>
                    <th>Save?</th>
                </tr>
                {{#each scrapedItems}}
                <tr>
                    <td><a href="{{this.link}}" target="_blank">{{this.title}}</a></td>
                    <td><p>{{this.summary}}</p></td>
                    <td>
                        <button value="{{this._id}}" class="saveBtns btn btn-primary">Save</button>
                    </td>
                </tr>
                {{/each}}
            </table>

                    </div>
                </div>
            </div>


        </div>
    </div>

</div>